@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    src: local('RobotoMono-Regular'),
    url('./RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoMono';
    font-style: italic;
    src: local('RobotoMono-Italic'),
    url('./RobotoMono-Italic.ttf') format('truetype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    font-weight: 500;
    src: local('RobotoMono-Medium'),
    url('./RobotoMono-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoMono';
    font-style: italic;
    font-weight: 500;
    src: local('RobotoMono-MediumItalic'),
    url('./RobotoMono-MediumItalic.ttf') format('truetype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    font-weight: bold;
    src: local('RobotoMono-Bold'),
    url('./RobotoMono-Bold.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'RobotoMono';
    font-style: italic;
    font-weight: bold;
    src: local('RobotoMono-BoldItalic'),
    url('./RobotoMono-BoldItalic.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    font-weight: 700;
    src: local('RobotoMono-SemiBold'),
    url('./RobotoMono-SemiBold.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'RobotoMono';
    font-style: italic;
    font-weight: 700;
    src: local('RobotoMono-SemiBoldItalic'),
    url('./RobotoMono-SemiBoldItalic.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@font-face {
    font-family: 'LXGWWenkaiMono';
    font-weight: normal;
    src: local('LXGWWenkaiMono-Regular'),
    url('./LXGWWenkaiMono-Regular.otf') format('opentype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    unicode-range: U+4E00-9FA5, U+9FA6-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700-2B738, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+30000-3134A, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007;
}

@font-face {
    font-family: 'LXGWWenkaiMono';
    font-weight: 500;
    src: local('SourceHanSansSC-Medium'),
    url('./SourceHanSansSC-Medium.ttf') format('opentype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    unicode-range: U+4E00-9FA5, U+9FA6-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700-2B738, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+30000-3134A, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007;
}

@font-face {
    font-family: 'LXGWWenkaiMono';
    font-weight: 300;
    src: local('LXGWWenkaiMono-Light'),
    url('./LXGWWenkaiMono-Light.ttf') format('opentype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    unicode-range: U+4E00-9FA5, U+9FA6-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700-2B738, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+30000-3134A, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007;
}

@font-face {
    font-family: 'LXGWWenkaiMono';
    font-weight: bold;
    src: local('LXGWWenkaiMono-Bold'),
    url('./LXGWWenkaiMono-Bold.ttf') format('opentype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    unicode-range: U+4E00-9FA5, U+9FA6-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700-2B738, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+30000-3134A, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007;
}
